In [4]:
import pandas as pd
import numpy as np
from io import StringIO

In [8]:
data=('c1,c2,c3\n'
       'a,b,1\n'
       'c,d,2\n'
       'x,y,3\n')

In [9]:
df=pd.read_csv(StringIO(data))
df

  c1 c2  c3
0  a  b   1
1  c  d   2
2  x  y   3

In [17]:
df=pd.read_csv(StringIO(data),usecols=['c1','c2'])
df

  c1 c2
0  a  b
1  c  d
2  x  y

In [19]:
df.to_csv('myfile.csv',index=False)

In [21]:
df=pd.read_csv(StringIO(data),dtype={'C1':object,'C2':object,'C3':int})
df.dtypes

c1    object
c2    object
c3     int64
dtype: object

In [32]:
df=pd.read_csv(r"D:\Assignments\csv",usecols=['state','district','market','commodity'])
df.head().to_csv("file1.csv")

In [ ]:
df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')